#2BD4B5*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #19212C;	
}

header{
	background-color: #2BD4B5;
	position: fixed;
	z-index: 2000;
	width: 100%;
	height: 40px;	
	opacity: 0.8;
}

.galereya-top { 
	display: none; 
}

.logo h1{
	position: absolute;
	color: black;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Lobster', helvetica, arial;
}

.logo h1 a{
	text-decoration: none;
        color: #000000;
        position: absolute;        ;                 
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

.logo h1:after{
	content : 'Margarita Romanenko';
    color: #d6d6d6;
    text-shadow: 0 1px 0 white;
}

.nav{
	margin-top: 10px;
}
.nav a{
	font-size: 16px;
	color: #000000;
	font-family:'Lobster', helvetica, arial;
	margin-left: 8px;
	opacity: 0.7;
}
.nav a:hover{
	opacity: 1;
}

.nav i{
	margin-left: 15px;
	float: right;
	cursor: pointer;
	margin-top: 4px;
}

.fa-vk:hover{
	color: #45668e;
}

.fa-facebook:hover{
	color: #6d84b4;
}

footer{
	position: absolute;
	width: 100%;
	float: top;
	background-color: #000000;	
	text-align: center;
	color: #fff;
	margin-top: 20px;
}

/* -------------------------------- 

Modal Window About

-------------------------------- */
.cd-modal {  
  position: fixed;
  z-index: 2500;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-modal svg {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-modal svg > path {
  fill: #1f4c74;
}

.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* Force hardware acceleration*/
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-modal.modal-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-modal.modal-is-visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.cd-modal-content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  padding: 3em 5% 4em;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, transform 0.3s 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-is-visible .cd-modal-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -moz-transition: opacity 0.3s 0.3s, -moz-transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-modal-content {
    padding: 3em 10% 4em;
  }  
}
  /* form contact*/
form {
  width: 500px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

input, .floating-placeholder, button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20pt;
  line-height: 2.6em;
  height: 2.6em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.floating-placeholder input:focus + label {
  color: #16abf0;
}

.floating-placeholder input[value] + label {
  color: red;
}

.floating-placeholder {
  position: relative;
}

.floating-placeholder input {
  font-size: 20pt;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: transparent;
  z-index: 2;
  border-bottom: 1px solid #ccc;
  text-indent: 20px;
}

.floating-placeholder:last-child input {
  border-bottom: none;
}

.floating-placeholder label {
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 20pt;
  z-index: 1;
  -moz-transform-origin: 0 0em;
  -ms-transform-origin: 0 0em;
  -webkit-transform-origin: 0 0em;
  transform-origin: 0 0em;
  -moz-transition: -moz-transform 160ms, color 200ms;
  -o-transition: -o-transform 160ms, color 200ms;
  -webkit-transition: -webkit-transform 160ms, color 200ms;
  transition: transform 160ms, color 200ms;
  -moz-transform: scale(1, 1) rotateY(0);
  -ms-transform: scale(1, 1) rotateY(0);
  -webkit-transform: scale(1, 1) rotateY(0);
  transform: scale(1, 1) rotateY(0);
  color: #999;
}

.floating-placeholder-float label {
  -moz-transform: scale(0.55, 0.55) rotateY(0);
  -ms-transform: scale(0.55, 0.55) rotateY(0);
  -webkit-transform: scale(0.55, 0.55) rotateY(0);
  transform: scale(0.55, 0.55) rotateY(0);
}

.floating-placeholder-float input {
  line-height: 3.4em;
}
  /* text modal 2*/
.cd-modal-content #nomer2 p{
	font-size: 16px;
	text-align: center;
	font-family:'Lato', helvetica, arial;
	color: #fff;
}

  /* button modal 2*/
#sendInfo button{
	border-radius: 0 0 10px 10px;
	background-color: #008000;
	border:0px;
	color: white;
	font-family: 'Lato', helvetica, arial;
}
#sendInfo button:hover{
	background-color: #32CD32 ;
}
#sendInfo button:active{
	position: relative;
	top:1px;
}
